nav ul{
display: flex;
list-style: none;
justify-content: center;
margin: auto;
height: 50px;
align-items: center;

}

nav ul li{
    margin: 12px;
    font-size: larger;

}
nav{
    display: flex;
    align-items: center;
    height:65px;
    background-color: brown;
    width: 100%;
    margin: 0px;
}
nav ul li a{
    text-decoration: none;
     color: aliceblue;
    
}


.h-im{
    height:40px;
    width: 80px;
    margin-left: 20px;
}

nav ul li:hover{
    background-color: rgb(131, 129, 129);
    
}

*{
 margin: 0;
}
.hero{
    display: flex;
    flex-direction: column;
}
.hero-img{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;


}
.hero-txt{
    flex: 1;
    text-align: center;
    font-size: x-large;

}

 section div img{
    height: 350px;
    width: 1400px
 }

  section div button{
    background-color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    width: 120px;
    font-size: medium;
    margin-top: 18px;
  }
  section div button:hover{
    background-color: cornflowerblue;
    color: aliceblue;
  }

  .about{
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: beige;
    margin-top: 35px;
}

.about-txt{
    flex: 1;
}

.about-txt h1{
    font-size: 40px;
    margin-bottom: 25px;
}

.about-txt p{
    max-width: 600px;
    text-align: justify;
    line-height: 1.8;
    
    
}

.about-img{
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img{
    width: 600px;
    height: 300px;
    object-fit: cover;
}

.destination{
    padding: 40px;
    background-color: #e8f1b1;
}

.destination h1{
    text-align: center;
    margin-bottom: 30px;
}

.destination-container{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: center;
    gap: 25px;
}

.card{
    background-color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
}

.card img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3{
    margin-top: 15px;
}

.card p{
    color: brown;
    font-weight: bold;
}

th, td{
    border: 1px rgb(0, 0, 0) solid;
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    
}
th{
    background-color: rgb(217, 252, 252);
}

.table{
    border-collapse: collapse;
    margin-top: 30px;
}

.st{
    display: grid;
    justify-content: center;
    background-color: rgb(255, 183, 183);
}

#th1{
    text-align: center;
    margin-top: 40px;
}

